.create-post-page {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #fffdf7;
  background-image: 
    linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(0,0,0,0.2) 120%),
    url("../assets/create-post-bg.jpg");
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  padding-top: 16px;
}

.create-post-title {
  text-align: center;
  margin-bottom: 32px;
  width: 100%;
}

.create-post-card {
  width: 100%;
  max-width: 600px;
  padding: 24px;
  margin-bottom: 32px;
}

.create-post-card-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.upload-btn {
  color: #828282 !important;
  border-color: #828282 !important;
}

.upload-btn:hover {
  background-color: #828282 !important;
  color: white !important;
  border-color: #828282 !important;
}

.preview-img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 8px;
}

.submit-btn {
  font-weight: bold !important;
  border-radius: 8px !important;
  background-color: #ff6f61 !important;
}

.submit-btn:hover {
  background-color: #e55a50 !important;
}
