.create-tips-page {
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-image: url("https://i.pinimg.com/1200x/f8/67/17/f8671702de24c45fd3fd9347b8c92938.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.create-tips-title {
  margin-bottom: 32px;
  font-weight: bold;
  text-align: center;
}

.create-tips-card {
  width: 100%;
  max-width: 600px;
  padding: 24px;
}

.create-tips-card-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.submit-tip-btn {
  background-color: #ff6f61 !important;
  border-radius: 8px !important;
}

.submit-tip-btn:hover {
  background-color: #e55a50 !important;
}
